---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
import getSubstackPosts from "../utils/getSubstackPosts.js";

const posts = await getSubstackPosts();
---

<Layout title="Blog | Cosmos Library">
  <section class="blog-section">
    <h1>🚀 Blog</h1>
    <BlogList posts={posts} />
  </section>
</Layout>
