<footer>
  <p>&copy; {new Date().getFullYear()} The Cosmos Library - Nathanael King</p>
  <a href="https://buymeacoffee.com/deviouswings" target="_blank" class="btn-coffee">
    ☕ Buy Me a Coffee
  </a>
  <h4>This stuff aint cheap</h4>
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/library">Library</a>
    <a href="/aboutme">About Me</a>
  </nav>
</footer>